# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
pip-wheel-metadata/
.pytest_cache/

# Build
build/
dist/
*.spec
*.zip
*.7z

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Local private config
app/config.local.json
